#profile-tile {
	display: none;
}
#trending-tile {
	display: none;
}
#notice-tile {
	display: none;
}
#follow-tile {
	display: none;
}
#links-tile {
	display: none;
}
#topbar {
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: grid;
	place-items: center center;
	font-weight: 800;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	color: rgb(217, 217, 217);
	float: left;
	margin-top: 30px;
}


hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;

}
.row {
	margin-right: 0px;


}

.column-one {
	float: left;
	width: 10.33%;
border-radius: 16px;
/* overflow: hidden; */
border-width: 1px;
/* border-style: solid; */
/* border-bottom-style: solid; */
/* -moz-box-pack: justify; */
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	min-width: 30px;


}
.column-two {
	float: left;
	width: 56.33%;
	margin-bottom: 15px;
	border-radius: 16px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-moz-box-pack: justify;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;

}
.column-three {
	float: left;
	width: 33.34%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}

.css-3 a {
	color: #1DA1F2;
	margin: 20px;
	-moz-box-align: stretch;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	align-items: stretch;
	border: 0px solid black;
	box-sizing: border-box;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	min-height: 0px;
	min-width: 0px;
	padding-right: 30px;
	position: relative;
	z-index: 0;

}
.css-3-others {
	margin-left: 30px;
}

.add-tweet-plus {
	color: #1da1f2;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	margin-left: 1px;
	-moz-box-align: stretch;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	align-items: stretch;
	border: 0px solid black;
	box-sizing: border-box;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	min-height: 0px;
	min-width: 0px;
	padding: 0px;
	position: relative;
	z-index: 0;

}

.css-3-others a {
	color: #1da1f2;
	margin-left: 3px;
	margin-right: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 39px;
	display: flex;
	float: left;
	padding-right: 1px;
	padding-left: 1px;

}
.css-3 button {
	opacity: 0.5;
	margin-left: 10px;
	min-width: calc(62.79px);
	min-height: 39px;
	background-color: #1dA1f2;
	outline-style: none;
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
	height: 0px;
	user-select: none;
	padding-left: 1em;
	padding-right: 1em;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;


}
.css-3-others button {
	opacity: 0.5;
	margin-left: 130px;
	min-width: calc(62.79px);
	min-height: 39px;
	background-color: #1dA1f2;
	outline-style: none;
	transition-duration: 0.2s;
	height: 0px;
	user-select: none;
	padding-left: 1em;
	padding-right: 1em;
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;


}

.category {
	overflow-wrap: break-word;
	color: darkgrey;
	font: inherit;
	font-family: inherit;
	white-space: inherit;
	box-sizing: border-box;
	display: inline;
	font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	margin: 0px;
	padding: 0px;

}

#photo {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
	outline-style: none;
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-color: rgba(0, 0, 0, 0.04);
	border-width: 1px;
	border-radius: 9999px;


}
.article a{
	text-decoration: none;
}

.likes a {
	white-space: nowrap;
	color: rgb(217, 217, 217);
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	margin: 40px;
	font-weight: lighter;
	font-size: 10px;

}
.article p {
	font-size: 15px;
	overflow-wrap: break-word;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	color: rgb(217, 217, 217);
	position: relative;

}

.row-search input {
	text-align: left;
	font-size: 10px;
	color: rgb(217, 217, 217);
	resize: none;
	appearance: none;
	box-sizing: border-box;
	outline-style: none;
	font-family: inherit;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding: 10px;
	font-weight: 400;
	line-height: 1.3125;
	font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	border-radius: 9999px;


}

.row-search {
	font-weight: 400px;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	-moz-box-flex: 1;
	flex-grow: 1;
	color: rgb(217, 217, 217);
	display: flex;

}

.trends {
	margin-bottom: 15px;
	border-radius: 16px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-moz-box-pack: justify;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
padding-right: 15px;

}

#trends {
	text-decoration: none;
	margin-right: calc(0.75em - 20.5px);
	min-width: 39px;
	outline-style: none;
	transition-duration: 0.2s;
	height: 0px;
	cursor: pointer;
	user-select: none;
	margin-bottom: calc(-10px);
margin-top: calc(-10px);
	padding-left: 0px;
padding-right: 0px;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;
}

.trending-news {
	-moz-box-align: baseline;
	align-items: baseline;
	    flex-shrink: 1;
	-moz-box-direction: normal;
-moz-box-orient: horizontal;
flex-direction: row;


}

#trending-news {
	line-height: calc(19.6875px);
	    font-size: 13px;
	color: rgb(110, 118, 125);
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	overflow-wrap: break-word;
	    min-width: 0px;

}
#trending-news span {
	font-family: inherit;
	overflow-wrap: break-word;
	color: inherit;
	font: inherit;
	font-family: inherit;
	white-space: inherit;



}

.trending-name {
	line-height: calc(19.6875px);
	font-size: 13px;
	color: rgb(110, 118, 125);
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	overflow-wrap: break-word;
	min-width: 0px;


}
#hash {
	font-weight: 700;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	color: rgb(217, 217, 217);
	overflow-wrap: break-word;

}
.dot {
	color: rgb(110, 118, 125);
	flex-shrink: 0;
	font-weight: 400;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	padding-left: 5px;
	padding-right: 5px;

}
.dot span{
	font-family: inherit;
	overflow-wrap: break-word;
	color: inherit;
	font: inherit;
	font-family: inherit;
	white-space: inherit;

}

.row-mid {
	min-width: 15rem;
	margin-bottom: 15px;
	border-color: grey;
	border-radius: 16px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: grey;
	-moz-box-pack: justify;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;

}
.follow {
	-moz-box-direction: normal;
	-moz-box-orient: horizontal;
	flex-direction: row;
	-webkit-line-clamp: 3;
	font-weight: 800;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	color: rgb(217, 217, 217);
	-moz-box-orient: vertical;
	display: -webkit-box;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;

}

.follow-links {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	outline-style: none;
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	-moz-box-direction: normal;
	-moz-box-orient: horizontal;
	flex-direction: row;

}
#follow-links {
	flex-basis: 49px;
	margin-right: 10px;
	-moz-box-flex: 0;
	flex-grow: 0;
	-moz-box-pack: center;
	justify-content: center;
	flex-shrink: 1;
	max-width: 100%;
	z-index: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-image: url('https://pbs.twimg.com/profile_images/1247427821703577600/wHU2ygZS_reasonably_small.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
	outline-style: none;
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
	border-width: 1px;
	border-radius: 9999px;
}

.name {
	-moz-box-pack: center;
	justify-content: center;
	flex-basis: 0px;
	-moz-box-flex: 1;
	flex-grow: 1;
	overflow-wrap: break-word;
	white-space: nowrap;
	font-weight: 700;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	color: rgb(217, 217, 217);

}
.handle {
	flex-shrink: 1;
	-moz-box-direction: normal;
	-moz-box-orient: horizontal;
	flex-direction: row;
	font-weight: 400;
	color: rgb(110, 118, 125);
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	-moz-box-direction: normal;
	-moz-box-orient: horizontal;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-wrap: break-word;
	font-size: 11px;
	position: absolute;
	border-width: 1px;
}
.follow-handle button {
	margin-left: 140px;
	min-width: 0px;
	min-width: calc(48.3px);
	min-height: 30px;
	outline-style: none;
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
	background-color: rgba(0, 0, 0, 0);
	height: 0px;
	user-select: none;
	padding-left: 1em;
	padding-right: 1em;
	border-color: #1da1f2;
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;
	color: #1da1f2;
	font-weight: 400px;
	font-size: 15px;
}
