#topbar {
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  font-weight: 800;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  float: left;
  margin-top: 3px;
}

.row {
  margin-right: 0px;
  background-color: black;
}
hr {
  width: 100%;
}

.column-one {
  float: left;
  width: 15.33%;
  border-radius: 16px;
  border-width: 1px;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  min-width: 30px;
  border-right: 1px solid white;
}
.column-two {
  float: left;
  width: 56.33%;
  margin-bottom: 15px;
  border-radius: 16px;
  overflow: hidden;
  border-width: 0.1px;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.image {
  -moz-box-align: stretch;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 0;
}

.image-profile {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-bottom: 100%;
  width: 100%;
  display: block;
}
.image-profile img {
  cursor: pointer;
  border-radius: 9999px;
  height: 49px;
  flex-basis: 49px;
  padding-top: 5px;
  margin-right: 10px;
  -moz-box-flex: 0;
  flex-grow: 0;
}
.column-three {
  float: left;
  width: 28.34%;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}

.css-3 {
  -moz-box-align: stretch;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 0;
}
.css-3 span {
	color: rgb(217, 217, 217);
	margin-right: 15px;
	margin-left: 20px;
	font-size: 15px;
	text-decoration: none;
	font-weight: 700;
}
.css-3 a {
	text-decoration: none;
}
.happening {
  direction: ltr;
  text-align: left;
  position: relative;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-weight: 400;
  line-height: 1.3125;
  color: #6e767d;
  position: absolute;
  z-index: 1;
  text-align: initial;
  white-space: pre-wrap;
  margin-left: 50px;
  padding: 10px;
}
#happening-link {
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  color: rgb(110, 118, 125);
  font-weight: 400;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  margin-left: 2px;
  margin-top: 0px;
  text-decoration: none;
}

.css-3 a {
  color: #1da1f2;
  margin: 20px;
  -moz-box-align: stretch;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  padding-right: 30px;
  position: relative;
  z-index: 0;
}
.css-3-others {
  margin-right: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  z-index: 1;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  margin-left: 2px;
  margin-right: 2px;
}
.css-icons {
  margin-top: 10px;
  -moz-box-align: center;
  align-items: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
}

.add-tweet-plus {
  color: #1da1f2;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-left: 1px;
  -moz-box-align: stretch;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  z-index: 0;
}

.css-3-others a {
  color: #1da1f2;
  align-items: stretch;
  margin-left: 20px;
  float: left;
  line-height: 1.3125;
  padding: 0.1px;
}

.css-3-others button {
  opacity: 0.9;
  margin-left: 90px;
  min-width: calc(62.79px);
  min-height: 39px;
  background-color: #1da1f2;
  outline-style: none;
  transition-duration: 0.2s;
  height: 0px;
  user-select: none;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
}
.category a {
  font-weight: 400;
  text-decoration: none;
  color: rgb(110, 118, 125);
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  cursor: pointer;
}
.article {
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  flex-basis: 49px;
  margin-right: 10px;
  -moz-box-flex: 0;
  flex-grow: 0;
  -moz-box-align: center;
  align-items: center;
  -moz-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

#photo {
  height: 49px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 9999px;
}

.likes a {
  white-space: nowrap;
  color: rgb(217, 217, 217);
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  margin-left: 50px;
  font-weight: lighter;
  font-size: 10px;
  text-decoration: none;
}
.article p {
  font-size: 15px;
  overflow-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  position: relative;
}

.row-search input {
  text-align: left;
  font-size: 10px;
  color: rgba(143, 137, 137, 0.568);
  resize: none;
  appearance: none;
  box-sizing: border-box;
  outline-style: none;
  font-family: inherit;
  background-color: rgb(61, 65, 69);
  width: 100%;
  padding: 10px;
  font-weight: 400;
  line-height: 1.3125;
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  border-radius: 9999px;
}

.row-search {
  font-weight: 400px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  -moz-box-flex: 1;
  flex-grow: 1;
  color: rgb(217, 217, 217);
  display: flex;
}

.trends {
  margin-bottom: 15px;
  border-radius: 16px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(61, 65, 69);
}

#trends {
  text-decoration: none;
  margin-right: calc(0.75em - 20.5px);
  min-width: 39px;
  outline-style: none;
  transition-duration: 0.2s;
  height: 0px;
  cursor: pointer;
  user-select: none;
  margin-bottom: calc(-10px);
  margin-top: calc(-10px);
  padding-left: 0px;
  padding-right: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
}

.trending-news {
  -moz-box-align: baseline;
  align-items: baseline;
  flex-shrink: 1;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
}

#trending-news {
  line-height: calc(19.6875px);
  font-size: 13px;
  color: rgb(110, 118, 125);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  overflow-wrap: break-word;
  min-width: 0px;
}
#trending-news span {
  font-family: inherit;
  overflow-wrap: break-word;
  color: inherit;
  font: inherit;
  font-family: inherit;
  white-space: inherit;
}

.trending-name {
  line-height: calc(19.6875px);
  font-size: 13px;
  color: rgb(110, 118, 125);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  overflow-wrap: break-word;
  min-width: 0px;
}
#hash {
  font-weight: 700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  overflow-wrap: break-word;
}
.dot {
  color: rgb(110, 118, 125);
  flex-shrink: 0;
  font-weight: 400;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.dot span {
  font-family: inherit;
  overflow-wrap: break-word;
  color: inherit;
  font: inherit;
  font-family: inherit;
  white-space: inherit;
}

.row-mid {
  min-width: 15rem;
  margin-bottom: 15px;
  border-color: grey;
  border-radius: 16px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(61, 65, 69);
}
.follow {
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  -webkit-line-clamp: 3;
  font-weight: 800;
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  -moz-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.name a {
  outline-style: none;
  cursor: pointer;
  flex-shrink: 1;
  max-width: 100%;
  white-space: nowrap;
  font-weight: 700;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  /* margin-left: 5px; */
  margin-left: 50px;
  /* margin-top: 25px; */
  text-decoration: none;
  margin-bottom: 0px;
  text-decoration: none;
}
.handle {
  flex-shrink: 1;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  font-weight: 400;
  color: rgb(110, 118, 125);
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
  font-size: 12px;
  position: absolute;
  border-width: 1px;
  margin-left: 50px;
  margin-top: 20px;
}

.follow-handle button {
  margin-left: 140px;
  min-width: 0px;
  min-width: calc(48.3px);
  min-height: 30px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0);
  height: 0px;
  user-select: none;
  padding-left: 1em;
  padding-right: 1em;
  border-color: #1da1f2;
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  color: #1da1f2;
  font-weight: 400px;
  font-size: 15px;
}

.doe {
  margin-bottom: 2px;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
  -moz-box-align: baseline;
  align-items: baseline;
}
.doe a {
  outline-style: none;
  cursor: pointer;
  flex-shrink: 1;
  max-width: 100%;
  white-space: nowrap;
  font-weight: 700;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  margin-left: 60px;
  margin-top: 25px;
  text-decoration: none;
}
.doe p {
  outline-style: none;
  cursor: pointer;
  flex-shrink: 1;
  max-width: 100%;
  white-space: nowrap;
  font-weight: 400;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  margin-top: 0px;
  text-decoration: none;
  margin-bottom: 0px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.3125;
  overflow-wrap: break-word;
  min-width: 0px;
  color: rgb(217, 217, 217);
  position: relative;
  margin-left: 50px;
}
